.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.gridItem {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.imageThumb {
  border-radius: 10px;
  /* width: 420px; */
}
.card {
  padding: 20px;
  text-align: left;
}
.cardZoom {
  transform: scale(1.2);
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
}
button {
  height: 20px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  border: none;
  background-color: rgb(0 0 0 / 5%);
  font-weight: 500;
  border-radius: 24px;
}
.tooltip {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  position: absolute;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .buttonContainer {
    width: 100%;
    gap: 5px;
    flex-direction: column;
  }
}
